<%= link_to "About", about_path %>
<!DOCTYPE html>
<html>
<head>
<title>Alpha Blog | Home</title>
</head>

<body>
  <div class="header">
    <h1>Alpha Blog</h1>
    <img src="https://vignette.wikia.nocookie.net/shigatsu-wa-kimi-no-uso/images/a/a5/Kaori_Miyazono.png/revision/latest?cb=20141210125454" alt="image-of-kaori">
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis tempore ipsum dolorum provident impedit quidem quod error.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A iure ea necessitatibus voluptatem aut officia dolorum minima odit fuga, iusto obcaecati debitis. Nam provident laboriosam inventore magnam esse quae eaque.</p>
  </div>
</body>
</html>

